*.d
*.o
*.a
*.pc
*.avi
*.mp4
*.mov
*.ogg
*.au
*.mpg
*.m3u
*.log
/ffmpeg
/ffmpeg_g
/ffplay
/ffplay_g
/ffserver
/ffserver_g
/config.h
/version.h
/config.err
/config.mak
bb-test-suite
.anjuta
.anjuta_sym_db.db
ffmpeg.anjuta
.project
doxy
libswscale
